<?xml version="1.0"?>

<model>
  <name>Scout With Bumper</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
    <name>Bernhard Hörl</name>
    <email>bernhard.hoerl@boku.ac.at</email>
  </author>

  <description>
    AgileX Scout v2 with custom pressure sensor bumper.
  </description>
</model>
