<?xml version="1.0" ?>
<sdf version="1.10" xmlns:xacro="http://ros.org/wiki/xacro">

<model name='bunker' canonical_link='chassis'>

  <xacro:property name="update_rate_odom"      value="1"/>
  <xacro:property name="update_rate_imu"       value="1"/>
  <xacro:property name="update_rate_pose"      value="3"/>
  <xacro:property name="linear_speed"          value="0.5"/>
  <xacro:property name="angular_speed"         value="0.5"/>

  <!-- base_link -->

  <link name='chassis'>
    <pose relative_to='__model__'>0 0 1 0 0 0</pose>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>${update_rate_imu}</update_rate>
      <visualize>true</visualize>
      <topic>bunker/imu</topic>
    </sensor>
  </link>

  <!-- wheels -->

  <!-- plugins -->

  <plugin
    filename="gz-sim-DRIVE_SYSTEM"
    name="gz::sim::systems::DRIVE_SYSTEM">
    <topic>cmd_vel</topic>
  </plugin>

  <xacro:macro name="keymap" params="D L A">
    <plugin
      filename="gz-sim-triggered-publisher-system"
      name="gz::sim::systems::TriggeredPublisher">
      <input type="gz.msgs.Int32" topic="/keyboard/keypress">
        <match field="data">${D}</match>
      </input>
      <output type="gz.msgs.Twist" topic="/cmd_vel">
        linear: {x: ${L}}, angular: {z: ${A}}
      </output>
    </plugin>
  </xacro:macro>
  <!-- FrontArrowKey: drive frontward -->
  <xacro:keymap D='16777235' L='${linear_speed}'    A='0.0'/>
  <!-- BackArrowKey: drive backward -->
  <xacro:keymap D='16777237' L='${(-linear_speed)}' A='0.0'/>
  <!-- LeftArrowKey: turn left -->
  <xacro:keymap D='16777234' L='0.0'                A='${angular_speed}'/>
  <!-- RightArrowKey: turn right -->
  <xacro:keymap D='16777236' L='0.0'                A='${(-angular_speed)}'/>
  <!-- s: stop -->
  <xacro:keymap D='83'       L='0.0'                A='0.0'/>

  <plugin
    filename="gz-sim-pose-publisher-system"
    name="gz::sim::systems::PosePublisher">
    <publish_link_pose>False</publish_link_pose>
    <publish_visual_pose>False</publish_visual_pose>
    <publish_collision_pose>False</publish_collision_pose>
    <publish_sensor_pose>False</publish_sensor_pose>
    <publish_model_pose>True</publish_model_pose>
    <publish_nested_model_pose>True</publish_nested_model_pose>
    <use_pose_vector_msg>False</use_pose_vector_msg>
    <update_frequency>${update_rate_pose}</update_frequency>
    <static_publisher>False</static_publisher>
    <static_update_frequency>${update_rate_pose}</static_update_frequency>
  </plugin>

  <plugin
    filename="gz-sim-imu-system"
    name="gz::sim::systems::Imu">
  </plugin>

</model>

</sdf>
